.item-grid-box a {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.item-grid-box img {
  width: 100%;
  height: 100%;
}

.item-grid-box .tile-subtitle {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.item-grid-box.container {
  margin: 0 auto;
}