/*
=========================
Navigation styles
=========================
*/

nav a {
  margin: 0 10px;

  color: #111;
  font-size: 1.25em;
} 

nav a:hover {
  color: #111;
}

nav .primary-navigation .container{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;

  padding: 5px 20px;

}

nav .nav-home {
  font-size: 1.75em;
  font-weight: bold;
}

nav .login {
  font-size: 1.15em;  
}