.loader-image {
  width: 100px
}

/*
=========================
General styles
=========================
*/

body {
  color: #111;
  font-size: 16px;
}

#root > div {
  width: 100%;
  max-width: 1024px;
  margin: 10px auto;
}

h1 {
  text-align: center;
}

/*
=========================
Navigation styles
=========================
*/

/* nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  margin: 20px auto;
}
*/
nav a {
  margin: 0 10px;

  text-decoration: none;
  color: #eee;
  font-size: 1.25em;
} 

/*
=========================
Signup/Login styles
=========================
*/

.signup {
  display: flex;
  flex-flow: column;

  width: 80%;
  min-width: 300px;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;

  border: 2px solid #444;
}

.signup .login-form-tab {
  border-bottom: 1px solid #444;
}